.container {
    margin-top: 20px;
  }
  
  .list-group-item {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
  
  h5 {
    margin-bottom: 5px;
  }
  
  p {
    margin: 0;
  }
  